<mat-nav-list>
  <a mat-list-item routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
    <mat-icon>dashboard</mat-icon>
    <span>Dashboard</span>
  </a>
  <a mat-list-item routerLink="/employee" routerLinkActive="active-link">
    <mat-icon>group</mat-icon>
    <span>Employee</span>
  </a>
  <a mat-list-item routerLink="/performance" routerLinkActive="active-link">
    <mat-icon>insights</mat-icon>
    <span>Performance</span>
  </a>
  <a mat-list-item routerLink="/settings" routerLinkActive="active-link">
    <mat-icon>settings</mat-icon>
    <span>Settings</span>
  </a>
</mat-nav-list>
