<div class="settings-container">
  <h1>Settings</h1>
  <p>Change your basic account settings here.</p>

  <form (ngSubmit)="onSubmit()" #settingsForm="ngForm" class="settings-form">
    <label>Your name</label>
    <input type="text" name="name" [(ngModel)]="settings.name" required />

    <label>Your username</label>
    <input
      type="text"
      name="username"
      [(ngModel)]="settings.username"
      required
    />

    <label>Your email address</label>
    <input type="email" name="email" [(ngModel)]="settings.email" required />
    <small>Site notifications will be sent here.</small>

    <label>Your password</label>
    <input type="password" name="password" [(ngModel)]="settings.password" />
    <small>Leave this blank if you don't want to change it.</small>

    <button type="submit">Save updates</button>
  </form>
</div>
