$red-color: #FF0000 ;
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  mat-card {
    width: 300px;
  }

  .full-width {
    width: 100%;
  }

  .error {
    color: $red-color;
    margin-top: 10px;
  }
}
